#root {
  margin: 0 auto;
  padding: 1rem;
  height: 100dvh;
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.border-gradient {
  border: 2px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(129.59deg, #969696 0%, #343434 98.18%);
}

/* .form-container {
  background: #27292d;
  border: 2px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(129.59deg, #969696 0%, #343434 98.18%);
} */

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.form-group > label {
  margin-bottom: 10px;
}
.form-group > input {
  background: inherit;
  border: 1.5px solid #35373b;
  padding: 12px;
  border-radius: 0.5rem;
}
